.navlinks-cta-button li a {
    display: inline-block;
    position: relative;
}

.navlinks-cta-button li a:not(.cta-button)::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 2px;
    width: 0%;
    height: 3px;
    background-color: #fff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    -ms-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
}

.navlinks-cta-button li a:not(.cta-button):hover::before {
    width: 50%;
}