.hero-section {
    background-image: url('../../assets/imgs/hero-section-pic.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

/* Hero section content */
.hero-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 95px);
    margin-top: -32px;
}

.hero-section-content .title {
    font-family: 'Gloss And Bloom', sans-serif;
    font-size: 6.6rem;
    color: #fff;
    text-transform: capitalize;
    transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    display: flex;
    flex-direction: column;
}

.hero-section-content .title span:nth-child(2) {
    align-self: flex-end;
}

/* Hero-section CTA button */
.hero-section-content .hero-section-cta-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}


.hero-section-content .hero-section-cta-button button span {
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 1.4rem;
}

.hero-section-content .hero-section-cta-button button i {
    font-size: 1.5rem;
    margin-left: 8px;
}

.hero-section-content .hero-section-cta-button button {
    color: #9BC0FF;
}

.hero-section-cta-button button:hover {
    cursor: pointer;
}
