@media (min-width: 1024px) {
    .container {
        width: calc(100% - 112px * 2);
        margin: 0px auto;
    }

    /* burger menu on desktop version doesn't exist*/
    header {
        padding: 24px 0;
    }

    header .burger-menu {
        display: none;
    }

    header .brand-name {
        font-size: 1.6rem;
    }
}

@media  (min-width: 524px) and (max-width: 1024px) {

    .container {
        width: calc(100% - 32px * 2);
        margin: 0px auto;
    }

    header {
        padding: 18px 0;
    }

    header .brand-name {
        font-size: 1.6rem;
    }

    header .navlinks-cta-button {
        display: none;
    }

    header .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 64px;
    }

    header .burger-menu span {
        height: 4px;
        background-color: #fff;
        border-radius: 32px;
        -webkit-border-radius: 32px;
        -moz-border-radius: 32px;
        -ms-border-radius: 32px;
        -o-border-radius: 32px;
    }

    header .burger-menu .middle {
        width: 50%;
        align-self: flex-end;
    }

}

@media (max-width: 524px) {

    /* Header*/
    header {
        padding: 16px 0px;
    }

    .container {
        width: calc(100% - 24px * 2);
        margin: 0 auto;
    }

    header .brand-logo {
        width: 50px;
    }

    header .brand-name {
        font-size: 1.2rem;
    }

    header .navlinks-cta-button {
        display: none;
    }

    header .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 42px;
    }

    header .burger-menu span {
        height: 4px;
        background-color: #fff;
        border-radius: 32px;
        -webkit-border-radius: 32px;
        -moz-border-radius: 32px;
        -ms-border-radius: 32px;
        -o-border-radius: 32px;
    }

    header .burger-menu .middle {
        width: 50%;
        align-self: flex-end;
    }

    /* Hero section */
    .hero-section {
        background-position: 60% 60%;
    }
    .hero-section-content {
        margin-top: 48px;
        height: calc(100vh - (95px + 48px));
    }
    .hero-section-content .title {
        font-family: 'Gloss And Bloom', sans-serif;
        font-size: 3.6rem;
    }

    .hero-section-content .hero-section-cta-button button {
        padding: 16px 20px;
        margin-top: 56px;
    }

    .hero-section-content .hero-section-cta-button button span {
        font-family: "Lato", sans-serif;
        text-transform: capitalize;
        font-weight: 900;
        font-size: 1.3rem;
    }

    .hero-section-content .hero-section-cta-button button i {
        font-size: 1.3rem;
        margin-left: 4px;
    }
}