@import url('./components/header.css');
@import url('./components/header-micro-interaction.css');
@import url('./responsive.css');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Lato typeface */

@font-face {
    font-family: "Lato", sans-serif;
    src: url('../assets/fonts/Lato-Black.ttf') format('woff');
    font-weight: black;
}

/* Project container Desktop*/
.container {
    width: calc(100% - 56px * 2);
    margin: 0px auto;
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 24px 0px;

}






